.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 2s ease;
}

.aspect-content {
  position: relative;
  width: 100%;
}

.aspect-content::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.aspect-content>* {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-10%);  /* Change the bounce height here */
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-custom-bounce {
  animation: custom-bounce 1s;  /* Remove 'infinite' for a single bounce */
}

@keyframes visgrid-bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 1, 1, 1);
  }
  50% {
    transform: translateY(-60%);  /* Change the bounce height here */
    animation-timing-function: cubic-bezier(0, 0, 0.2, 0.2);
  }
}



@keyframes install-bounce {
  0%, 11.5%, 35%, 75%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 1, 1, 1);
  }
  5.7% {
    transform: translateY(-20%);  /* First Bounce */
    animation-timing-function: cubic-bezier(0, 0, 0.2, 0.2);
  }
  23% {
    transform: translateY(-20%);  /* Second Bounce */
    animation-timing-function: cubic-bezier(0, 0, 0.2, 0.2);
  }
}

.animate-visgrid-bounce {
  animation: visgrid-bounce 1s 1;  /* Remove 'infinite' for a single bounce */
}

.animate-install-bounce {
  animation: install-bounce 2.6s 2;  /* Remove 'infinite' for a single bounce */
}

.data-heading {
  @apply text-sm font-light h-5 text-gray-500;
}

button:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.viewport-height {
  height: calc(var(--vh, 1vh) * 100);
}
